<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>供应链</title>
<link type="text/css" rel="stylesheet" media="screen" href="/resources/css/action.css" />
<!--[if lt IE 9]>
<script src="/resources/js/html5shiv.js"></script>
<script src="/resources/js/respond.min.js"></script>
<![endif]-->
</head>

<body>

<!-- /.Site -->

	<!-- /.Header -->
	<header>
		<div class="mask clearfix">
			<a class="logo" href="#"></a>
			<div class="foremost">
				<h1>上海张江国家自主创新示范区<br/>基于云计算的创意设计公共服务基地</h1>
				<p>
					<em>SHANGHAI ZHANGJIANG NATION INNOVATION PARK</em>
					<i>PUBLIC SERVICE OF CREATIVE DESIGNBASED ON CLOUD COMPUTING</i>
				</p>
			</div>
			<div class="info">
				<div class="personal">
					您好，欢迎来到创意设计公共服务基地！
					<a href="#">[登录]</a>
					<a href="#">[免费注册]</a>
				</div>
				<div class="search">
					<form class="form clearfix" action="/">
						<div class="drop">
							<div class="drop-menu">面料<i class="caret"></i></div>
							<div class="drop-content drop-down-left">
								<ul>
									<li>面料</li>
									<li>辅料</li>
								</ul>
							</div>
						</div>
						<input type="text" class="input" placeholder="请输入关键字">
						<button type="submit" class="button button-default"><i class="icon icon-search"></i></button>
					</form>
				</div>
				<nav>
					<ul class="list-inline">
						<li><a href="#">流行趋势</a></li>
						<li><a href="#">设计师</a></li>
						<li><a href="#">品牌</a></li>
						<li><a href="#">设计体验</a></li>
						<li><a href="#">基地介绍</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="bar clearfix">
			<span class="drop atte">
				<div class="drop-menu">我的关注<i class="caret"></i></div>
				<div class="drop-content drop-down-right">
					<ul>
						<li><a href="#">关注的品牌</a></li>
						<li><a href="#">关注的供应商</a></li>
						<li><a href="#">关注的商品</a></li>
					</ul>
				</div>
			</span>
			<span class="drop cart">
				<div class="drop-menu">购物车(<bdo>48</bdo>)<i class="caret"></i></div>
				<div class="drop-content drop-down-right">
					<div class="shopping">
						<dl>
							<dt>最新加入的商品</dt>
							<dd>
								<ul>
									<li>
										<span><img class="thumb" src="/resources/pic/avatar.jpg"></span>
										<p>乔丹正品篮球鞋（Jordan），KFP-35 GWBPF 02C+3...</p>
										<div>
											<b class="price">680</b>
											<bdo>×1</bdo>
											<br/>
											<button type="button">删除</button>
										</div>
									</li>
									<li>
										<span><img class="thumb" src="/resources/pic/avatar.jpg"></span>
										<p>乔丹正品篮球鞋（Jordan），KFP-35 GWBPF 02C+3...</p>
										<div>
											<b class="price">680</b>
											<bdo>×1</bdo>
											<br/>
											<button type="button">删除</button>
										</div>
									</li>
								</ul>
								<div class="balance">
									<div>共<bdo>2</bdo>件商品　共计<b class="price">680</b></div>
									<a class="button button-deep" href="#">去购物车结算</a>
								</div>
							</dd>
						</dl>
					</div>
				</div>
			</span>
			<span class="terrace"><a href="#">我的平台</a></span>
		</div>
	</header>
	<!-- /.Header -->
	
	
	<!-- /.Container -->
	<div class="container">
	
		<div class="row-12">
			<div class="col-3">
				
				<!-- /.Sider Bar -->
				<div class="sidebar">
					
					<!-- /.box -->
					<dl class="business-board box">
						<dt>商家信息</dt>
						<dd>
							<a class="central" href="#"><i></i><img src="/resources/pic/logo.jpg"></a>
							<ul>
								<li>
									<label>公司名称：</label>
									<span>海蓝纺织有限公司</span>
								</li>
								<li>
									<label>公司地址：</label>
									<span>浙江莫干山经济开发区</span>
								</li>
								<li>
									<label>官方网站：</label>
									<span><a href="#">www.baidu.com</a></span>
								</li>
								<li>
									<label>综合评分：</label>
									<span><i class="icon-stars icon-stars-3"></i></span>
								</li>
							</ul>
						</dd>
					</dl>
					<!-- /.box -->
					
					<!-- /.box -->
					<dl class="commodity-list box">
						<dt>商品分类</dt>
						<dd>
							<span>
								<i class="icon icon-minus"></i>
								面料
							</span>
							<ul>
								<li>
									<a href="#">染色类</a>
									<div>
										<a href="#">常规染色</a>
										<a href="#">扎染</a>
										<a href="#">蜡染</a>
										<a href="#">徒然</a>
										<a href="#">常规染色</a>
										<a href="#">扎染</a>
										<a href="#">扎染</a>
										<a href="#">扎染</a>
										<a href="#">蜡染</a>
										<a href="#">徒然</a>
										<a href="#">常规染色</a>
										<a href="#">常规染色</a>
									</div>
								</li>
								<li><a href="#">色织类</a></li>
								<li><a href="#">印花类</a></li>
								<li><a href="#">提花类</a></li>
								<li><a href="#">纱线工艺</a></li>
								<li><a href="#">常见面料</a></li>
							</ul>
							<span>
								<i class="icon icon-minus"></i>
								辅料
							</span>
							<ul>
								<li><a href="#">衬料</a></li>
								<li><a href="#">里料</a></li>
								<li><a href="#">絮填料</a></li>
								<li><a href="#">扣紧材料</a></li>
								<li><a href="#">带类材料</a></li>
								<li><a href="#">线、绳材料</a></li>
								<li><a href="#">花边</a></li>
								<li><a href="#">烫钻、片、图、纸</a></li>
								<li><a href="#">商标</a></li>
								<li><a href="#">包装类材料</a></li>
								<li><a href="#">珠</a></li>
								<li><a href="#">皮毛、羽毛制品</a></li>
								<li><a href="#">其他</a></li>
							</ul>
						</dd>
					</dl>
					<!-- /.box -->
					
				</div>
				<!-- /.Sider Bar -->
				
			</div>
			<div class="col-9">
			
				<!-- /.Detail Info -->
				<div class="detail-info">
					<div class="row-2">
						<div class="col-1">
							<div class="magnifier">
								<div class="magnifier-view central"><img src="/resources/pic/designer.png"></div>
								<ul class="magnifier-menu">
									<li data-url="/resources/pic/avatar.jpg"><img src="/resources/pic/logo.jpg"></li>
									<li data-url="/resources/pic/comp.png"><img src="/resources/pic/logo.png"></li>
									<li data-url="/resources/pic/tpm-avatar.png"><img src="/resources/pic/logo.jpg"></li>
									<li data-url="/resources/pic/model.jpg"><img src="/resources/pic/logo.png"></li>
									<li data-url="/resources/pic/black-bg.png"><img src="/resources/pic/logo.jpg"></li>
								</ul>
							</div>
						</div>
						<div class="col-1">
							<h1>全棉色织泡泡布</h1>
							<ul class="info-item">
								<li>
									<label>产品编码：</label>
									<span>1308121152182</span>
								</li>
								<li>
									<label>起订量（码）：</label>
									<span>
										<bdo>1~499</bdo>
										<bdo>≥500</bdo>
									</span>
								</li>
								<li>
									<label>价格：</label>
									<span>
										<bdo><b class="price orange font-20">22</b>/码</bdo>
										<bdo><b class="price orange font-20">24</b>/码</bdo>
									</span>
								</li>
								<li>
									<label>发货/物流：</label>
									<span>浙江绍兴</span>
								</li>
								<li>
									<label>成交/评价：</label>
									<span>4米成交</span>
								</li>
							</ul>
							<div class="row-2">
								<span class="col-1"><a class="button button-default" href="#">立即订购</a></span>
								<span class="col-1"><a class="button button-default" href="#">加入购物车</a></span>
								<span class="col-1"><a class="button button-default" href="#">加入收藏夹</a></span>
								<span class="col-1"><a class="button button-default" href="#">调样</a></span>
							</div>
						</div>
					</div>
				</div>
				<!-- /.Detail Info -->
				
				<!-- /.Detail Main -->
				<dl class="detail-main">
					<dt>
						<ul class="list-inline">
							<li>详细信息</li>
							<li>成交记录（<bdo>90</bdo>）</li>
							<li>交易评价（<bdo>90</bdo>）</li>
						</ul>
					</dt>
					<dd class="particularity">
						<img src="/resources/pic/designer.png">
						<img src="/resources/pic/tpm-ad.png">
					</dd>
					<dd>
						<table class="table table-stripe table-hover">
							<caption>30天内：交易中<bdo class="deep">51</bdo>交易成功<bdo class="deep">41</bdo></caption>
							<thead>
								<tr>
									<th>买家</th>
									<th>拍下价格</th>
									<th>数量</th>
									<th>成交时间</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>德川家康</td>
									<td><bdo class="price">78</bdo></td>
									<td>22</td>
									<td>2014-09-03 12:12:22</td>
								</tr>
								<tr>
									<td>德川家康</td>
									<td><bdo class="price">78</bdo></td>
									<td>22</td>
									<td>2014-09-03 12:12:22</td>
								</tr>
								<tr>
									<td>德川家康</td>
									<td><bdo class="price">78</bdo></td>
									<td>22</td>
									<td>2014-09-03 12:12:22</td>
								</tr>
								<tr>
									<td>德川家康</td>
									<td><bdo class="price">78</bdo></td>
									<td>22</td>
									<td>2014-09-03 12:12:22</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<ul class="pagination">
								<li><a href="#">上一页</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a class="disable" href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">下一页</a></li>
							</ul>
						</div>
					</dd>
					<dd>
						<table class="table table-border table-stripe">
							<caption>30天内：交易中<bdo class="deep">51</bdo>交易成功<bdo class="deep">41</bdo></caption>
							<thead>
								<tr>
									<th><input type="radio" class="radio">全部</th>
									<th><input type="radio" class="radio">好评(<bdo>22</bdo>)</th>
									<th><input type="radio" class="radio">中评(<bdo>341</bdo>)</th>
									<th><input type="radio" class="radio">差评(<bdo>61</bdo>)</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>好评</td>
									<td>德川家康</td>
									<td>Label面料手感好，色牢度好，与商品描述一致，购物很开心，好评！</td>
									<td>2014-09-03 12:12:22</td>
								</tr>
								<tr>
									<td>好评</td>
									<td>德川家康</td>
									<td>Label面料手感好，色牢度好，与商品描述一致，购物很开心，好评！</td>
									<td>
								<tr>
									<td>好评</td>
									<td>德川家康</td>
									<td>Label面料手感好，色牢度好，与商品描述一致，购物很开心，好评！</td>
									<td>
								<tr>
									<td>好评</td>
									<td>德川家康</td>
									<td>Label面料手感好，色牢度好，与商品描述一致，购物很开心，好评！</td>
									<td>
								<tr>
									<td>好评</td>
									<td>德川家康</td>
									<td>Label面料手感好，色牢度好，与商品描述一致，购物很开心，好评！</td>
									<td>
							</tbody>
						</table>
						<div class="text-right">
							<ul class="pagination">
								<li><a href="#">上一页</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a class="disable" href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">下一页</a></li>
							</ul>
						</div>
					</dd>
				</dl>
				<!-- /.Detail Main -->
			
			</div>
		</div>
		
		<dl class="detail-recommend box">
			<dt>新品展示 New Looks For Materials</dt>
			<dd>
				<div class="row-6">
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resources/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
				</div>
			</dd>
		</dl>
	
	</div>
	<!-- /.Container -->
	
	
	<!-- /.Footer -->
	<footer>
		<div class="rapid">
			<div class="row-4">
				<dl class="col-1">
					<dt>新手指南</dt>
					<dd>
						<ul class="list-unstyled">
							<li><a href="#">新用户注册</a></li>
						</ul>
					</dd>
				</dl>
				<dl class="col-1">
					<dt>关于我们</dt>
					<dd>
						<ul class="list-unstyled">
							<li><a href="#">系统公告</a></li>
							<li><a href="#">服务商入驻</a></li>
						</ul>
					</dd>
				</dl>
				<dl class="col-1">
					<dt>常见问题</dt>
					<dd>
						<ul class="list-unstyled">
							<li><a href="#">如何注册</a></li>
							<li><a href="#">如何找买家</a></li>
							<li><a href="#">如何进行网上交易</a></li>
						</ul>
					</dd>
				</dl>
				<dl class="col-1">
					<dt>联系方式</dt>
					<dd>
						<ul class="list-unstyled">
							<li>邮箱：<a href="mailto:service@qq.com">service@qq.com</a></li>
							<li>电话：400-88-27360</li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
		
		<ul class="links list-inline">
			<li><a href="#">网站首页</a></li>
			<li><a href="#">版权隐私</a></li>
			<li><a href="#">使用协议</a></li>
			<li><a href="#">联系方式</a></li>
			<li><a href="#">关于我们</a></li>
			<li><a href="#">网站地图</a></li>
			<li><a href="#">网站留言</a></li>
			<li><a href="#">广告服务</a></li>
			<li><a href="#">沪ICP备 12025467号-1</a></li>
		</ul>
		
		<address>Copyright © 2010-2014<br/>上海张江国家自主创新示范区<br/>基于云计算的创意设计公共服务基地<br/>版权所有</address>
	</footer>
	<!-- /.Footer -->

<!-- /.Site -->

<script type="text/javascript" id="include" src="/resources/js/include.js" data-config="/resources/config"></script>
</body>
</html>