
<!-- /.Site -->


	
	<!-- /.Container -->
	<div class="container">

		<div class="row-12">
			<div class="col-3">

				<!-- /.Sider Bar -->
				<div class="sidebar">

					<!-- /.box -->
					<dl class="commodity-list box">
						<dt>交易管理</dt>
						<dd>
							<span>
								<i class="icon icon-minus"></i>
								商品管理
							</span>
							<ul>
								<li><a href="#">发布服务</a></li>
								<li><a href="#">发布辅料</a></li>
								<li><a href="#">发布面料</a></li>
								<li><a href="#">已发布的商品列表</a></li>
							</ul>
							<span>
								<i class="icon icon-minus"></i>
								收到的订单
							</span>
							<ul>
								<li><a href="#">衬料</a></li>
								<li><a href="#">里料</a></li>
								<li><a href="#">絮填料</a></li>
								<li><a href="#">扣紧材料</a></li>
								<li><a href="#">带类材料</a></li>
								<li><a href="#">线、绳材料</a></li>
								<li><a href="#">花边</a></li>
								<li><a href="#">烫钻、片、图、纸</a></li>
								<li><a href="#">商标</a></li>
								<li><a href="#">包装类材料</a></li>
								<li><a href="#">珠</a></li>
								<li><a href="#">皮毛、羽毛制品</a></li>
								<li><a href="#">其他</a></li>
							</ul>
							<span><a href="#">收到的求购单</a></span>
							<span><a href="#">收到的调样单</a></span>
							<span><a href="#">评价管理</a></span>
						</dd>
					</dl>
					<!-- /.box -->

				</div>
				<!-- /.Sider Bar -->

			</div>
			<div class="col-9">

				<!-- /.Detail Bread -->
				<div class="bread detail-bread">
					<span>您的位置：</span>
					<ul>
						<li><a href="#">首页</a></li>
						<li><a href="#">我的平台</a></li>
						<li><a href="#">我的求购单列表</a></li>
					</ul>
				</div>
				<!-- /.Detail Bread -->

				<!-- /.Detail Table -->
				<div class="detail-table">
					<select>
						<option>草稿</option>
						<option>出售中</option>
						<option>审核中</option>
						<option>下架</option>
					</select>
					<table class="table table-border">
						<thead>
							<tr>
								<th>图片</th>
								<th>标题</th>
								<th width="20%">发布时间</th>
								<th>状态</th>
								<th width="20%">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><div class="central"><img src="/resource/pic/model.jpg"></div></td>
								<td>珍珠雪纺布料 弹力不透 夏装厚连衣裙 衬衫衣服面料 乱麻</td>
								<td>2014-03-04 11:39:24</td>
								<td>草稿</td>
								<td align="center">
									<button type="button" class="button button-deep">编辑</button>
									<button type="button" class="button button-deep">删除</button>
								</td>
							</tr>
							<tr>
								<td><div class="central"><img src="/resource/pic/logo.jpg"></div></td>
								<td>珍珠雪纺布料 弹力不透 夏装厚连衣裙 衬衫衣服面料 乱麻</td>
								<td>2014-03-04 11:39:24</td>
								<td>下架</td>
								<td align="center">
									<button type="button" class="button button-deep">编辑</button>
									<button type="button" class="button button-deep">上架</button>
								</td>
							</tr>
							<tr>
								<td><div class="central"><img src="/resource/pic/comp.png"></div></td>
								<td>珍珠雪纺布料 弹力不透 夏装厚连衣裙 衬衫衣服面料 乱麻</td>
								<td>2014-03-04 11:39:24</td>
								<td>出售中</td>
								<td align="center">
									<button type="button" class="button button-deep">上架</button>
								</td>
							</tr>
							<tr>
								<td><div class="central"><img src="/resource/pic/model.jpg"></div></td>
								<td>珍珠雪纺布料 弹力不透 夏装厚连衣裙 衬衫衣服面料 乱麻</td>
								<td>2014-03-04 11:39:24</td>
								<td>审核中</td>
								<td align="center"></td>
							</tr>
						</tbody>
					</table>
					<div class="text-right">
						<ul class="pagination">
							<li><a href="#">上一页</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">下一页</a></li>
						</ul>
					</div>
				</div>
				<!-- /.Detail Info -->

			</div>
		</div>

		<dl class="detail-recommend box">
			<dt>新品展示 New Looks For Materials</dt>
			<dd>
				<div class="row-6">
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
					<div class="col-1">
						<a href="#"><img class="thumb" src="/resource/pic/designer.png"></a>
						<ul>
							<li>
								<label>编码：</label>
								<span>fm444444</span>
							</li>
							<li>
								<label>成份：</label>
								<span>90%棉</span>
							</li>
							<li>
								<label>纱织：</label>
								<span>150</span>
							</li>
							<li>
								<label>宽幅：</label>
								<span>2.5m</span>
							</li>
							<li>
								<label>克重：</label>
								<span>150g/m</span>
							</li>
						</ul>
					</div>
				</div>
			</dd>
		</dl>

	</div>
	<!-- /.Container -->

